<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.OrderMapper">
    <insert id="creatOrder" parameterType="Order">
        insert into dd_order(order_num,order_name,order_price,order_count) values(#{orderNum},#{orderName},#{orderPrice},1)
    </insert>
    <select id="findAll">
        select * from dd_order where order_num=#{orderNum}
    </select>
</mapper>