<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="baidu-site-verification" content="ptBViWChaK">
    <meta name="360_ssp_verify" content="97e68f5e73627afe543b46a19218182c">
    <meta name="360-site-verification" content="3214efec4d6c8803951f487c25ff7748">
    <title>会员支付页</title>

    <link rel="stylesheet" rev="stylesheet" href="//sourcecdn.shuidi.cn/shuidi/resource/css/Shuidi_Person_OpenVip.css?v=202011061834&amp;" type="text/css">
    <link rel="shortcut icon" href="//staticcdn.shuidi.cn/shuidi/images/favicon.ico">
    <script src="https://hm.baidu.com/hm.js?4cb0385b9ad8022cb597e5015cb7a9e8"></script>
    <script src="//pa.shuidi.cn/data?action=get_js_release_url" type="text/javascript"></script>
</head>

<body>
<div class="open-vip-box">
    <form id="forms" method="post">
        <div class="banner">
            <div class="vip-banner">
                <!-- <a href="javascript:;" class="vip-box export-data"><img src="//staticcdn.shuidi.cn/shuidi/images/personal_modify/vip-pt.png"></a> -->
                <div class="vip-box vip-box2 -left -no-select">
                    <div class="vip-header vip-header2">
                        <h2>腾讯视频VIP</h2>
                        <h3>适用于非TV用户</h3>
                    </div>
                    <div class="vip-inner">
                        <div class="vip-box2-top vip2-box2-top">
                            <div class="vip-box2-top-box" id="vip-html">
                                <a href="javascript:;" class="vip-tab vip-tab-add" tab-index="0" pay-type="pay_person_vip_one_year" pay-name="1个月VIP" pay-xufei="undefined"><i class="vip-box2-title1" name="subject">1个月VIP</i><i class="vip-box2-top1"><span name="total_amount"><input type="radio" value="20"  name="chi">20</span>元<!--<font>40元</font>--></i><i class="vip-box2-bottom1">20元/月</i></a>
                                <a href="javascript:;" class="vip-tab" tab-index="0" pay-type="pay_person_vip_two_years" pay-name="2个月VIP" pay-xufei="undefined"><i class="vip-box2-title1" name="subject">3个月VIP</i><i class="vip-box2-top1"><span name="total_amount"><input type="radio" value="45"  name="chi">45</span>元<!--<font>720元</font>--></i><!--<i class="vip-box2-bottom1">每天仅需<span>0.23</span>元</i>--></a>
                                <a href="javascript:;" class="vip-tab" tab-index="0" pay-type="pay_person_vip_three_years" pay-name="3个月VIP" pay-xufei="undefined"><span class="vip-tab-icon">推荐</span><i class="vip-box2-title1" name="subject">12个月VIP</i><i class="vip-box2-top1"><span name="total_amount"><input type="radio" value="198" name="chi">198</span>元<!--<font>1080元</font>--></i><i class="vip-box2-bottom1">每月<span>16.5</span>元/月</i></a>
                            </div>
                            <a href="javascript:zhifu();" type="submit" class="vip-box2-link" pay-type="pay_person_vip_one_year" pay-name="1年VIP">确认支付</a>
                            <!--                             <a href="javascript:;" class="vip-box2-link vip-box2-link-ljdg">立即订购</a>
                     -->
                        </div>
                    </div>
                </div>
                <div class="vip-box vip-box1 -right" id="vip-box">
                    <div class="vip-header vip-header1">
                        <h2>超级影视VIP</h2>
                        <h3>适用于TV全屏会员</h3>
                    </div>
                    <div class="vip-inner">
                        <div class="vip-box2-top">
                            <div class="vip-box2-top-box" id="svip-html">
                                <a href="javascript:;" class="vip-tab vip-tab-add" tab-index="0" pay-type="pay_person_svip_one_year" pay-name="1个月SVIP" pay-xufei="undefined"><i class="vip-box2-title1" id="svip">1个月SVIP</i><i class="vip-box2-top1"><span id="jg4"><input type="radio" value="50" name="chi">50</span></i><i class="vip-box2-bottom1">50元/月</i></a>
                                <a href="javascript:;" class="vip-tab" tab-index="0" pay-type="pay_person_svip_two_years" pay-name="3个月SVIP" pay-xufei="undefined"><i class="vip-box2-title1" id="svip2">3个月SVIP</i><i class="vip-box2-top1"><span id="jg5"><input type="radio" value="88" name="chi">88</span></i><i class="vip-box2-bottom1">29.3元/月</i></a>
                                <a href="javascript:;" class="vip-tab" tab-index="0" pay-type="pay_person_svip_three_years" pay-name="12个月SVIP" pay-xufei="undefined"><span class="vip-tab-icon">推荐</span><i class="vip-box2-title1" id="svip3">12个月SVIP</i><i class="vip-box2-top1"><span id="jg6"><input type="radio" value="288" name="chi">288</span>元</i><i class="vip-box2-bottom1">24元/月</i></a>
                            </div>
                            <a href="javascript:zhifu();" class="vip-box1-link vip-box2-link" pay-type="pay_person_svip_one_year" pay-name="1年SVIP">确认支付</a>
                            <!--                             <a href="javascript:;" class="vip-box1-link vip-box2-link vip-box2-link-ljdg">立即订购</a>
                     -->
                        </div>
                    </div>
                </div>
                <!--            <a href="javascript:;" class="vip-box vip-box3"><img src="-->
                <!--"></a>-->
            </div>
        </div>
    </form>
    <h2 style="height: 40px"></h2>
    <script>
        function zhifu(){
            var price=0;
            var name="";
            var miaoshu="";
            var arr = document.getElementsByName("chi");
            for (var i = 0; i <arr.length; i++){
                if (arr[i].checked){
                    price=arr[i].value;
                }
            }
            if (price==50||price==88||price==288){
                name="腾讯超级影视VIP";
            }else{
                name="腾讯视频VIP";
            }
            if (price==20){
                miaoshu="1个月VIP";
            }
            if (price==45){
                miaoshu="3个月VIP";
            }
            if (price==198){
                miaoshu="12个月VIP";
            }
            if (price==50){
                miaoshu="1个月SVIP";
            }
            if (price==88){
                miaoshu="3个月SVIP";
            }
            if (price==288){
                miaoshu="12个月SVIP";
            }
            location.href="/svip/alipay?price="+price+"&name="+name+"&miaoshu="+miaoshu;
        }
    </script>

</div>


<script type="text/javascript" src="//staticcdn.shuidi.cn/pa.1.1.js"></script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?4cb0385b9ad8022cb597e5015cb7a9e8";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<div style="display: none;">
    <script type="text/javascript">
        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1256666129'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1256666129 ' type='text/javascript'%3E%3C/script%3E"));
    </script><span style="display:none;" id="cnzz_stat_icon_1256666129"><a href="https://www.cnzz.com/stat/website.php?web_id=1256666129" target="_blank" title="站长统计">站长统计</a></span>
    <script src=" http://s95.cnzz.com/z_stat.php?id=1256666129 " type="text/javascript"></script>
    <script src="http://c.cnzz.com/core.php?web_id=1256666129&amp;t=z" charset="utf-8" type="text/javascript"></script>
</div>
<script type="text/javascript" src="https://sourcecdn.shuidi.cn/pa/resource/js/Pa_Pa.js?v=202011061834"></script>
<script type="text/javascript" src="//staticcdn.shuidi.cn/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="//staticcdn.shuidi.cn/js/jquery-ui.min2.js"></script>
<script type="text/javascript" src="//staticcdn.shuidi.cn/js/jrender.min.js"></script>
<script type="text/javascript" src="//staticcdn.shuidi.cn/js/promise-7.0.4.min.js"></script>
<script type="text/javascript" src="//staticcdn.shuidi.cn/js/jquery.bxslider.js"></script>
<script type="text/javascript" src="//sourcecdn.shuidi.cn/shuidi/resource/js/Shuidi_Person_OpenVip.js?v=202011061834&amp;"></script>
<div class="msgtip" style="position: fixed; top: 60%; left: 50%; padding: 15px 25px; text-align: center; border-radius: 10px; color: rgb(255, 255, 255); background: url(&quot;//staticcdn.shuidi.cn/shuidi/images/bg_black50.png&quot;); display: none; z-index: 99; min-width: 218px; height: 50px; line-height: 50px; font-size: 16px; margin-left: -116px;"></div>
<div role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div>
<script>
    var detailFrame = new DetailFrame();
    detailFrame.init();
</script>
<script>
    var openVip = new Shuidi.Person.OpenVip();
    openVip.init();

    PinganAna.fire(228);
</script>

</body>

</html>