<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../js/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/jquery.min.js"></script>
    <style type="text/css">
        /*用css重定义div标签*/
        .div1 {
            /*添加背景图*/
            background-image: url(images/24.png);
            /*定义画的格子大小*/
            width: 338px;
            height: 40px;
            text-align: left;
            border: 1px solid #458591;
        }
    </style>
</head>
<body>
<section id="content">
    <!--头部-->
    <div class="content-header clearfix">
        <a href="javascript:;" class="current">登录</a>
        <a href="javascript:;">注册</a>
    </div>
    <!--内容-->
    <div class="content-body">
        <div class="dom" style="display: block;">
            <form methed="post" id="myforms">
                <div class="s1">
                    <h4>账号</h4>
                    <input name="usercode" type="text" placeholder="用户名/手机/邮箱">
                </div>
                <div class="s1">
                    <h4>密码</h4>
                    <input name="password" type="password" placeholder="请输入密码">
                </div>
                <div class="s2">
                    <input type="checkbox">
                    <span>记住密码</span>
                </div>
                <input type="button" class="btn" value="登&nbsp;录" onclick="insert();">
            </form>
            <div class="dom-footer">
                <div class="login-another">
                    <a href="#">找回密码</a>
                    <span>|</span>
                    <span>还没有注册帐号?</span>
                    <a href="#">立即注册</a>
                </div>
                <div class="login-three">
                    <span>使用第三方账号直接登录</span>
                    <div class="login-icon">
                        <a href="#">
                            <img src="../js/images/qq.png" alt="">
                        </a>
                        <a href="#">
                            <img src="../js/images/wechat.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="dom">
            <form method="post" id="forms">
                <div class="s1">
                    <h4>手机号码</h4>
                    <input id="phone" type="text" placeholder="填写你的手机号码作为登录账户">
                </div>
                <div class="s1">
                    <h4>用户名</h4>
                    <input id="username" type="text" placeholder="中、英文均可, 最长20个字符或10个汉字">
                </div>
                <div class="s1">
                    <h4>密码</h4>
                    <input id="password" type="text" placeholder="6-30位英文、数字、符号, 区分大小写">
                </div>
                <div class="s1 msg-code">
                    <h4>短信验证码</h4>
                    <input id="yzm" type="text" placeholder="填写短信验证码">
                    <input type="button" id="btn" value="发送验证码" onclick="sendemail()"
                           style="width: 120px; height: 38px; border: 1; float: right; border:none">
                </div>
                <div class="s1">
                    <h4>邀请码<span style="color: purple">(选填)</span></h4>
                    <input name="code" type="text" placeholder="如果有邀请码, 请填写">
                </div>
                <input type="button" class="btn" value="注&nbsp;册" onclick="login()">
            </form>
            <div class="dom-footer">
                <div class="login-three">
                    <span>使用第三方账号直接登录</span>
                    <div class="login-icon">
                        <a href="#">
                            <img src="images/qq.png" alt="">
                        </a>
                        <a href="#">
                            <img src="images/wechat.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function login() {
        var code =$("#yzm").val();
        var phoneNumber = $("#phone").val();
        var username = $("#username").val();
        var password = $("#password").val();
        var ran = Math.ceil(Math.random()*8999999999+1000000000);
        $.ajax({
            url:"/index/loginto",
            type:"post",
            data:{'usercode':ran,'username':username,'password':password,'code':code,'phoneNumber':phoneNumber},
            success:function(data){
                if (data.success) {
                    alert("注册成功账号为:"+ran);
                } else {
                    alert(data.message);
                }
            },
        });
    }
    function insert(){
        $.ajax({
            url:"/index/login",
            type:"post",
            data:$("#myforms").serialize(),
            success:function(data){
                if (data.success) {
                    window.location.href="/index/tobofang";
                }else{
                    alert(data.message);
                }
            },
        });
    }
    var countdown=60;
    function sendemail(){
        var phoneNumber = $("#phone").val();
        $.ajax({
            url:"/index/dxcode",
            type:"post",
            data:{phoneNumber:phoneNumber},
            success:function(){
            },
        });
        var obj = $("#btn");
        settime(obj);
    }
    function settime(obj) { //发送验证码倒计时
        if (countdown == 0) {
            obj.attr('disabled',false);
            //obj.removeattr("disabled");
            obj.val("重新获取验证码");
            countdown = 60;
            return;
        } else {
            obj.attr('disabled',true);
            obj.val("重新发送(" + countdown + ")");
            countdown--;
        }
        setTimeout(function() {
                settime(obj) }
            ,1000)
    }
    window.onload = function () {
        // 1.1 获取需要的标签
        let as = document.getElementsByClassName('content-header')[0].getElementsByTagName('a');
        let contents = document.getElementsByClassName('dom');

        // 1.2 遍历
        for (let i = 0; i < as.length; i++) {
            // 1.2.1 取出单个对象
            let a = as[i];
            a.id = i;

            // 1.2.2 监听鼠标的移动事件
            a.onclick = function () {
                // 让所有的a的class都清除
                for (let j = 0; j < as.length; j++) {
                    as[j].className = '';
                    contents[j].style.display = 'none';
                }

                // 设置当前a的class
                this.className = 'current';
                // 从contents数组中取出对应的标签
                contents[this.id].style.display = 'block';
            }

        }
    }
</script>
</body>
</html>