<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .slider-btn{position:absolute;width:44px;height:44px;left:0;top:-7px;z-index:12;cursor:pointer;background-image:url(../images/yangshi.png);background-position:0 -84px;transition:inherit}
        .ver-tips{position:absolute;left:0;bottom:-22px;background:rgba(255,255,255,.9);height:22px;line-height:22px;font-size:12px;width:100%;margin:0;text-align:left;padding:0 8px;transition:all .4s}
        .slider-tips{bottom:0}
        .ver-tips i{display:inline-block;width:22px;height:22px;vertical-align:top;background-image:url(../images/yangshi.png);background-position:-4px -1229px}
        .ver-tips span{display:inline-block;vertical-align:top;line-height:22px;color:#455}
        .active-tips{display:block}
        .hidden{display:none}
        .re-btn{position:absolute;left:0;bottom:0;height:28px;padding:0 16px}
        .re-btn a{display:inline-block;width:14px;height:14px;margin:7px 0;background-image:url(../images/yangshi.png);background-position:0 -1179px;cursor:pointer}
        .re-btn a:hover{background-position:0 -1193px}
    </style>
</head>
<style type="text/css">
    /*用css重定义div标签*/
    #sssss {
        /*添加背景图*/
        background-image: url(../images/true.png);
        /*定义画的格子大小*/
        width: 100%;
        height: 0px;
        text-align: left;
        border: 1px solid #cc00ff;
    }
    .verBox {
        width: 0px;
        height: 0px;
        text-align:center;
        top:0;
        opacity:0;
        transition:all 0.8s;
    }
</style>
<body id="sssss">
<div class="verBox">
    <div id="imgVer" style="display:inline-block;"></div>
</div>
<section id="content">
    <!--头部-->
    <div class="content-header clearfix">
        <a href="javascript:;" class="current">登录</a>
        <a href="javascript:;">注册</a>
    </div>
    <!--内容-->
    <div class="content-body">
        <div class="dom" style="display: block;">
            <form methed="post" id="myforms">
                <div class="s1">
                    <h4>账号</h4>
                    <input  name="usercode" type="text" placeholder="用户名/手机/邮箱">
                </div>
                <div class="s1">
                    <h4>密码</h4>
                    <input id="passwordmima" name="password" type="password" placeholder="请输入密码">
                </div>
                <div class="s2">
                    <input type="checkbox">
                    <span>记住密码</span>
                </div>
                <input type="button" class="btn" value="登&nbsp;录" onclick="insert();">
            </form>
            <div class="dom-footer">
                <div class="login-another">
                    <a href="#">找回密码</a>
                    <span>|</span>
                    <span>还没有注册帐号?</span>
                    <a href="#">立即注册</a>
                </div>
                <div class="login-three">
                    <span>使用第三方账号直接登录</span>
                    <div class="login-icon">
                        <a href="#">
                            <img src="../images/qq.png" alt="">
                        </a>
                        <a href="#">
                            <img src="../images/wechat.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="dom">
            <form method="post" id="forms">
                <div class="s1">
                    <h4>手机号码</h4>
                    <input id="phone" type="text" placeholder="填写你的手机号码作为登录账户">
                </div>
                <div class="s1">
                    <h4>用户名</h4>
                    <input id="username" type="text" placeholder="中、英文均可, 最长20个字符或10个汉字">
                </div>
                <div class="s1">
                    <h4>密码</h4>
                    <input id="password" type="text" placeholder="6-30位英文、数字、符号, 区分大小写">
                </div>
                <div class="s1 msg-code">
                    <h4>短信验证码</h4>
                    <input id="yzm" type="text" placeholder="填写短信验证码">
                    <input type="button" id="btn" value="发送验证码" onclick="sendemail()"
                           style="width: 120px; height: 38px; border: 1; float: right; border:none">
                </div>
                <div class="s1">
                    <h4>邀请码<span style="color: purple">(选填)</span></h4>
                    <input name="code" type="text" placeholder="如果有邀请码, 请填写">
                </div>
                <input type="button" class="btn" value="注&nbsp;册" onclick="login()">
            </form>
            <div class="dom-footer">
                <div class="login-three">
                    <span>使用第三方账号直接登录</span>
                    <div class="login-icon">
                        <a href="#">
                            <img src="../images/qq.png" alt="">
                        </a>
                        <a href="#">
                            <img src="../images/wechat.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function login() {
        var code =$("#yzm").val();
        var phoneNumber = $("#phone").val();
        var username = $("#username").val();
        var password = $("#password").val();
        var ran = Math.ceil(Math.random()*8999999999+1000000000);
        $.ajax({
            url:"/index/loginto",
            type:"post",
            data:{'usercode':ran,'username':username,'password':password,'code':code,'phoneNumber':phoneNumber},
            success:function(data){
                if (data.success) {
                    alert("注册成功账号为:"+ran);
                } else {
                    alert(data.message);
                }
            },
        });
    }
    var countdown=60;
    function sendemail(){
        var phoneNumber = $("#phone").val();
        $.ajax({
            url:"/index/dxcode",
            type:"post",
            data:{phoneNumber:phoneNumber},
            success:function(){
            },
        });
        var obj = $("#btn");
        settime(obj);
    }
    function settime(obj) { //发送验证码倒计时
        if (countdown == 0) {
            obj.attr('disabled',false);
            //obj.removeattr("disabled");
            obj.val("重新获取验证码");
            countdown = 60;
            return;
        } else {
            obj.attr('disabled',true);
            obj.val("重新发送(" + countdown + ")");
            countdown--;
        }
        setTimeout(function() {
                settime(obj) }
            ,1000)
    }
    window.onload = function () {
        // 1.1 获取需要的标签
        let as = document.getElementsByClassName('content-header')[0].getElementsByTagName('a');
        let contents = document.getElementsByClassName('dom');

        // 1.2 遍历
        for (let i = 0; i < as.length; i++) {
            // 1.2.1 取出单个对象
            let a = as[i];
            a.id = i;

            // 1.2.2 监听鼠标的移动事件
            a.onclick = function () {
                // 让所有的a的class都清除
                for (let j = 0; j < as.length; j++) {
                    as[j].className = '';
                    contents[j].style.display = 'none';
                }

                // 设置当前a的class
                this.className = 'current';
                // 从contents数组中取出对应的标签
                contents[this.id].style.display = 'block';
            }

        }
    }
    imgVer({
        el:'$("#imgVer")',
        width:'260',
        height:'116',
        img:[
            '../images/1.jpg',
            '../images/2.jpg',
            '../images/3.jpg',
            '../images/4.jpg'
        ],
        success:function () {
            $.ajax({
                url:"/index/login",
                type:"post",
                data:$("#myforms").serialize(),
                success:function(data){
                    if (data.success) {
                        window.location.href="/index/index";
                    }else{
                        alert(data.message);
                        $("#content").css({
                            "left":"0",
                            "opacity":"1"
                        });
                        $(".verBox").css({
                            "left":"404px",
                            "opacity":"0"
                        });
                    }
                },
            });
        },
        error:function () {
            //alert('错误什么都不执行')
        }
    });
    function insert() {
        if($(".usercode").val() == '') {
            alert("请输入用户名");
        }else if($(".password").val() == ''){
            alert("请输入密码")
        } else {
            $("#content").css({
                "left":"-404px",
                "opacity":"0"
            });
            $(".verBox").css({
                "left":"0",
                "opacity":"1"
            })
        }
    }
    function imgVer(Config) {
        var el = eval(Config.el);
        var w = Config.width;
        var h = Config.height;
        var imgLibrary = Config.img;
        var PL_Size = 48;
        var padding = 20;
        var MinN_X = padding + PL_Size;
        var MaxN_X = w - padding - PL_Size - PL_Size / 6;
        var MaxN_Y = padding;
        var MinN_Y = h - padding - PL_Size - PL_Size / 6;

        function RandomNum(Min, Max) {
            var Range = Max - Min;
            var Rand = Math.random();
            if (Math.round(Rand * Range) == 0) {
                return Min + 1;
            } else if (Math.round(Rand * Max) == Max) {
                return Max - 1;
            } else {
                var num = Min + Math.round(Rand * Range) - 1;
                return num;
            }
        }

        var imgRandom = RandomNum(1, imgLibrary.length);
        var imgSrc = imgLibrary[imgRandom];
        var X = RandomNum(MinN_X, MaxN_X);
        var Y = RandomNum(MinN_Y, MaxN_Y);
        var left_Num = -X + 10;
        var html = '<div style="position:relative;padding:16px 16px 28px;border:1px solid #ddd;background:#f2ece1;border-radius:16px;">';
        html += '<div style="position:relative;overflow:hidden;width:' + w + 'px;">';
        html += '<div style="position:relative;width:' + w + 'px;height:' + h + 'px;">';
        html += '<img id="scream" src="' + imgSrc + '" style="width:' + w + 'px;height:' + h + 'px;">';
        html += '<canvas id="puzzleBox" width="' + w + '" height="' + h + '" style="position:absolute;left:0;top:0;z-index:22;"></canvas>';
        html += '</div>';
        html += '<div class="puzzle-lost-box" style="position:absolute;width:' + w + 'px;height:' + h + 'px;top:0;left:' + left_Num + 'px;z-index:111;">';
        html += '<canvas id="puzzleShadow" width="' + w + '" height="' + h + '" style="position:absolute;left:0;top:0;z-index:22;"></canvas>';
        html += '<canvas id="puzzleLost" width="' + w + '" height="' + h + '" style="position:absolute;left:0;top:0;z-index:33;"></canvas>';
        html += '</div>';
        html += '<p class="ver-tips"></p>';
        html += '</div>';
        html += '<div class="re-btn"><a></a></div>';
        html += '</div>';
        html += '<br>';
        html += '<div style="position:relative;width:' + w + 'px;margin:auto;">';
        html += '<div style="border:1px solid #c3c3c3;border-radius:24px;background:#ece4dd;box-shadow:0 1px 1px rgba(12,10,10,0.2) inset;">';
        html += '<p style="font-size:12px;color: #486c80;line-height:28px;margin:0;text-align:right;padding-right:22px;">按住左边滑块，拖动完成上方拼图</p>';
        html += '</div>';
        html += '<div class="slider-btn"></div>';
        html += '</div>';
        el.html(html);
        var d = PL_Size / 3;
        var c = document.getElementById("puzzleBox");
        var ctx = c.getContext("2d");
        ctx.globalCompositeOperation = "xor";
        ctx.shadowBlur = 10;
        ctx.shadowColor = "#fff";
        ctx.shadowOffsetX = 3;
        ctx.shadowOffsetY = 3;
        ctx.fillStyle = "rgba(0,0,0,0.7)";
        ctx.beginPath();
        ctx.lineWidth = "1";
        ctx.strokeStyle = "rgba(0,0,0,0)";
        ctx.moveTo(X, Y);
        ctx.lineTo(X + d, Y);
        ctx.bezierCurveTo(X + d, Y - d, X + 2 * d, Y - d, X + 2 * d, Y);
        ctx.lineTo(X + 3 * d, Y);
        ctx.lineTo(X + 3 * d, Y + d);
        ctx.bezierCurveTo(X + 2 * d, Y + d, X + 2 * d, Y + 2 * d, X + 3 * d, Y + 2 * d);
        ctx.lineTo(X + 3 * d, Y + 3 * d);
        ctx.lineTo(X, Y + 3 * d);
        ctx.closePath();
        ctx.stroke();
        ctx.fill();
        var c_l = document.getElementById("puzzleLost");
        var c_s = document.getElementById("puzzleShadow");
        var ctx_l = c_l.getContext("2d");
        var ctx_s = c_s.getContext("2d");
        var img = new Image();
        img.src = imgSrc;
        img.onload = function () {
            ctx_l.drawImage(img, 0, 0, w, h);
        }
        ctx_l.beginPath();
        ctx_l.strokeStyle = "rgba(0,0,0,0)";
        ctx_l.moveTo(X, Y);
        ctx_l.lineTo(X + d, Y);
        ctx_l.bezierCurveTo(X + d, Y - d, X + 2 * d, Y - d, X + 2 * d, Y);
        ctx_l.lineTo(X + 3 * d, Y);
        ctx_l.lineTo(X + 3 * d, Y + d);
        ctx_l.bezierCurveTo(X + 2 * d, Y + d, X + 2 * d, Y + 2 * d, X + 3 * d, Y + 2 * d);
        ctx_l.lineTo(X + 3 * d, Y + 3 * d);
        ctx_l.lineTo(X, Y + 3 * d);
        ctx_l.closePath();
        ctx_l.stroke();
        ctx_l.shadowBlur = 10;
        ctx_l.shadowColor = "black";
        ctx_l.clip();
        ctx_s.beginPath();
        ctx_s.lineWidth = "1";
        ctx_s.strokeStyle = "rgba(0,0,0,0)";
        ctx_s.moveTo(X, Y);
        ctx_s.lineTo(X + d, Y);
        ctx_s.bezierCurveTo(X + d, Y - d, X + 2 * d, Y - d, X + 2 * d, Y);
        ctx_s.lineTo(X + 3 * d, Y);
        ctx_s.lineTo(X + 3 * d, Y + d);
        ctx_s.bezierCurveTo(X + 2 * d, Y + d, X + 2 * d, Y + 2 * d, X + 3 * d, Y + 2 * d);
        ctx_s.lineTo(X + 3 * d, Y + 3 * d);
        ctx_s.lineTo(X, Y + 3 * d);
        ctx_s.closePath();
        ctx_s.stroke();
        ctx_s.shadowBlur = 20;
        ctx_s.shadowColor = "black";
        ctx_s.fill();
        var moveStart = '';
        $(".slider-btn").mousedown(function (e) {
            e = e || window.event;
            $(this).css({
                "background-position": "0 -216px"
            });
            moveStart = e.pageX;
        });
        onmousemove = function (e) {
            e = e || window.event;
            var moveX = e.pageX;
            var d = moveX - moveStart;
            if (moveStart == '') {
            } else {
                if (d < 0 || d > (w - padding - PL_Size)) {
                } else {
                    $(".slider-btn").css({
                        "left": d + 'px',
                        "transition": "inherit"
                    });
                    $("#puzzleLost").css({
                        "left": d + 'px',
                        "transition": "inherit"
                    });
                    $("#puzzleShadow").css({
                        "left": d + 'px',
                        "transition": "inherit"
                    });
                }
            }
        };
        onmouseup = function (e) {
            e = e || window.event;
            var moveEnd_X = e.pageX - moveStart;
            var ver_Num = X - 10;
            var deviation = 4;
            var Min_left = ver_Num - deviation;
            var Max_left = ver_Num + deviation;
            if (moveStart == '') {
            } else {
                if (Max_left > moveEnd_X && moveEnd_X > Min_left) {
                    $(".ver-tips").html('<i style="background-position:-4px -1207px;"></i><span style="color:#42ca6b;">验证通过</span><span></span>');
                    $(".ver-tips").addClass("slider-tips");
                    $(".puzzle-lost-box").addClass("hidden");
                    $("#puzzleBox").addClass("hidden");
                    setTimeout(function () {
                        $(".ver-tips").removeClass("slider-tips");
                        imgVer(Config);
                    }, 2000);
                    Config.success();
                } else {
                    $(".ver-tips").html('<i style="background-position:-4px -1229px;"></i><span style="color:red;">验证失败:</span><span style="margin-left:4px;">拖动滑块将悬浮图像正确拼合</span>');
                    $(".ver-tips").addClass("slider-tips");
                    setTimeout(function () {
                        $(".ver-tips").removeClass("slider-tips");
                    }, 2000);
                    Config.error();
                }
            }
            setTimeout(function () {
                $(".slider-btn").css({
                    "left": '0',
                    "transition": "left 0.5s"
                });
                $("#puzzleLost").css({
                    "left": '0',
                    "transition": "left 0.5s"
                });
                $("#puzzleShadow").css({
                    "left": '0',
                    "transition": "left 0.5s"
                });
            }, 1000);
            $(".slider-btn").css({
                "background-position": "0 -84px"
            });
            moveStart = '';
            $(".re-btn a").on("click", function () {
                imgVer(Config);
            })
        }
    }
</script>

</body>
</html>