<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstraps/bootstrap-paginator.js"></script>
</head>
<head>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 进度条</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://static.runoob.com/assets/vue/1.0.11/vue.min.js"></script>
</head>
<body>
    <div class="login-form">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseThree">
                        <center>修改密码</center>
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body" id="app">
                    <center>
                        <table class="table table-bordered table-striped" style="width: 500px">
                            <input id="id" class="form-control" name="id" style="display:none" readonly="readonly" v-model="list">
                            <tr>
                                <td>密码</td>
                                <td><input id="pass" class="form-control" type="text" name="password" placeholder="新密码"></td>
                            </tr>
                            <tr>
                                <td>确认密码</td>
                                <td><input id="pass2" class="form-control" type="text" placeholder="确认密码"></td>
                            </tr>
                        </table>
                        <button type="button" class="btn btn-default"  onclick="xiu()">修改</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            list: ""
        }
    });
    $(document).ready(function () {
        $.ajax({
            url:"/index/sysUser",
            type:"post",
            success:function(data){
                var data = eval('('+data+')');
                vm.list=data.id;
            },
        });
    });
    function xiu() {
        var password = $("#pass").val();
        var id = $("#id").val();
        var pass2 = $("#pass2").val();
        if (password!=pass2){
            alert("密码不一致~");
            return;
        }
        $.ajax({
            url:"/index/xiu",
            type:"post",
            data:{id:id,password:password},
            success:function(){
                alert("修改成功");
            },
        });
    }
</script>
</html>