<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link
            rel="preconnect"
            href="https://cfe-70089.njc.vod.tencent-cloud.com"
            crossorigin
    />
    <link
            rel="dns-prefetch"
            href="https://cfe-70089.njc.vod.tencent-cloud.com"
    />
    <link
            rel="shortcut icon"
            href="https://cfe-70089.njc.vod.tencent-cloud.com/creatordev/favicon.ico"
    />
    <title>创作中心</title>

    <link rel="stylesheet" href="//cfe.gtimg.cn/creator/umi.307fb4ec.css" />
    <script>
        window.routerBase = "/";
    </script>
    <script>

    </script>
</head>

<body>
<div id="root"></div>

<script src="//vm.gtimg.cn/tencentvideo_v1/script/txv.login.js"></script>
<script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
<script>
    var _mtac = { performanceMonitor: 1 };
    (function () {
        var mta = document.createElement("script");
        mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.4";
        mta.setAttribute("name", "MTAH5");

        mta.setAttribute("sid", "500724541");
        mta.setAttribute("cid", "500728766");

        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(mta, s);
    })();
</script>
<script src="//cfe.gtimg.cn/creator/js/cavans-toBlob.js"></script>

<script src="//cfe.gtimg.cn/creator/umi.a04f34df.js"></script>
</body>
</html>
