<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.ComicVideoMapper" >
    <resultMap id="BaseResultMap" type="com.jk.entity.ComicVideo" >
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="name" property="name" jdbcType="VARCHAR" />
      <result column="comic_xiaoimg" property="comicXiaoimg" jdbcType="VARCHAR" />
      <result column="info" property="info" jdbcType="VARCHAR" />
      <result column="playback" property="playback" jdbcType="INTEGER" />
      <result column="img" property="img" jdbcType="VARCHAR" />
      <result column="type" property="type" jdbcType="INTEGER" />
      <result column="url" property="url" jdbcType="VARCHAR" />
      <result column="comic_number" property="comicNumber" jdbcType="INTEGER" />
      <result column="to_update" property="toUpdate" jdbcType="TIMESTAMP" />
      <result column="ji_number" property="jiNumber" jdbcType="INTEGER" />
      <result column="comic_title" property="comicTitle" jdbcType="VARCHAR" />
    </resultMap>

  <select id="selectComicVideo" resultType="ComicVideo">
   select a.*,b.dy_name as ztvip from comic_video a left join dy_vip b on a.type=b.dy_id
order by a.playback desc
  </select>
  
  <select id="selectComic" resultType="ComicVideo" parameterType="Integer">
    SELECT * from episode_number c LEFT join comic_video e on c.video_id = e.comic_number where c.video_id= #{comicNumber}
  </select>
  
  <select id="findgoodbyid" resultType="EpisodeNumber" parameterType="int">
    SELECT * from episode_number where episode_id = #{episodeId}
  </select>
</mapper>