<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.DssyTeleplayMapper" >


  <select id="list" resultType="DssyTeleplay">
    select * from ds_sy_teleplay a left join teleplay_seniotty b on a.teleplay_typeid=b.seniority_id
  </select>
</mapper>